<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>swim </title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

  <link rel='stylesheet' type='text/css' href='https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.6.0/maps/maps.css'/>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

  <script src="https://kit.fontawesome.com/6b1e3df50c.js" crossorigin="anonymous"></script>
 
<script src='https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.6.0/maps/maps-web.min.js'></script>
    <style>
        #map {
          height: 500px;
          width: 500px;
      }
    </style>
  <svg class="svg"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="0.98" d="M0,96L48,117.3C96,139,192,181,288,186.7C384,192,480,160,576,176C672,192,768,256,864,288C960,320,1056,320,1152,272C1248,224,1344,128,1392,80L1440,32L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  {% block script %}
  <script defer src="{% static 'javascrpt.js' %}"></script>
  {% endblock %}
  
  <h1 class="header"><div class="wordy">swim database. </div> <?xml version="1.0" standalone="no"?>
    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
     "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
     
    <svg class="whale" version="1.0" xmlns="http://www.w3.org/2000/svg"
     width="128.000000pt" height="71.000000pt" viewBox="0 0 1280.000000 715.000000"
     preserveAspectRatio="xMidYMid meet">
    <metadata>
    Created by potrace 1.15, written by Peter Selinger 2001-2017
    </metadata>
    <g transform="translate(0.000000,715.000000) scale(0.100000,-0.100000)"
    fill="#000000" stroke="none">
    <path d="M420 7143 c-14 -2 -70 -17 -125 -33 -55 -17 -120 -35 -145 -41 -59
    -14 -122 -78 -140 -142 -28 -101 15 -211 136 -352 43 -49 101 -126 130 -171
    43 -67 64 -89 130 -133 44 -29 98 -75 122 -101 53 -61 91 -74 185 -66 61 6 89
    3 188 -23 172 -44 354 -113 534 -201 286 -140 453 -245 983 -617 200 -140 425
    -294 500 -342 307 -196 602 -342 870 -432 145 -48 158 -61 148 -142 -3 -29
    -15 -81 -26 -117 -32 -104 -49 -201 -65 -358 -22 -227 -46 -276 -171 -338 -75
    -38 -104 -64 -104 -94 0 -8 12 -38 27 -65 24 -44 28 -60 27 -135 0 -68 -7
    -105 -33 -185 -41 -124 -51 -240 -27 -311 23 -69 21 -80 -30 -115 -80 -55 -92
    -132 -43 -280 11 -34 18 -67 15 -74 -3 -8 -31 -14 -81 -17 -66 -3 -80 -7 -96
    -27 -24 -30 -24 -57 2 -134 40 -117 32 -179 -65 -527 -114 -411 -136 -541
    -137 -791 -1 -368 119 -662 306 -750 87 -42 130 -37 159 19 19 37 118 365 221
    732 128 456 218 756 280 940 143 421 311 786 502 1089 107 171 123 264 132
    766 7 365 12 422 39 439 5 3 65 -16 133 -43 68 -26 184 -70 257 -96 205 -74
    248 -110 236 -199 -10 -69 1 -92 81 -176 84 -88 87 -99 60 -200 -36 -134 -5
    -180 160 -244 112 -43 129 -65 140 -176 9 -105 24 -133 89 -174 65 -42 93 -79
    116 -153 20 -65 40 -90 77 -99 97 -22 109 -28 153 -75 74 -80 151 -99 322 -79
    325 37 595 169 723 354 28 41 36 61 31 80 -4 15 -63 74 -153 154 -231 202
    -367 358 -479 548 -78 132 -78 124 4 109 176 -34 307 -38 977 -31 1145 12
    1167 7 1921 -390 181 -96 395 -203 474 -239 161 -73 212 -104 229 -141 17 -38
    15 -45 -41 -109 -387 -451 -551 -794 -553 -1155 0 -100 3 -131 17 -157 42 -77
    115 -39 212 109 57 88 98 106 361 158 253 50 342 77 459 138 121 63 199 141
    255 252 58 116 76 123 168 70 91 -53 235 -98 488 -155 268 -60 322 -77 382
    -120 212 -155 609 -226 707 -128 32 32 34 68 4 87 -13 7 -69 28 -125 45 -142
    44 -204 84 -356 229 -161 153 -333 305 -447 393 -204 159 -461 303 -692 388
    -75 27 -124 52 -140 69 -14 15 -87 118 -161 230 -318 474 -592 809 -981 1197
    -400 399 -773 707 -1410 1165 -299 215 -326 243 -296 297 9 16 32 37 53 48 47
    25 57 57 30 93 -67 91 -307 213 -522 267 -144 36 -232 45 -501 55 l-245 8
    -150 51 c-387 132 -813 240 -1210 305 -358 59 -597 83 -1060 106 -237 11 -317
    24 -490 78 -207 65 -438 119 -650 152 -190 29 -403 41 -965 55 -778 19 -1044
    42 -1495 131 -231 45 -442 64 -545 47z"/>
    </g>
    </svg>
    </h1>

</head>
<body>    {% block sidebar %}
  <div class="smallscreen"> 
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand" href="#">swim database.</a>
    
      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar"> 
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'search' %}">Search</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'map' %}">View on Map</a></li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add' %}">Add a Swim</a>
        </li>
          <li class="nav-item"><a class="nav-link" href="{% url 'profile' user.id %}">My Profile</a></li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
              </li></div>
          {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Log In</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'register' %}">Register</a>
              </li>
          {% endif %}
        </ul>
      </nav>
      </div> 
  
  
  </div>
 

    <div class="row">
      <div class="col-sm-2">
   
     <div class="lgscreen">
        <ul class="navbar navbar-light sidebar-nav" id="sidebar-nav">
          <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'search' %}">Search</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'map' %}">View on Map</a></li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add' %}">Add a Swim</a>
        </li>
     
          <li class="nav-item"><a class="nav-link" href="{% url 'profile' user.id %}">My Profile</a></li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
              </li>
          {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Log In</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'register' %}">Register</a>
              </li>

        </ul>
   
          {% endif %}
       
     {% endblock %}
     
    </div> </div>
 
     {% block content %}{% endblock %}
   
 </div>

</body>
</html>