{% extends "base_generic.html" %}

{% block content %}
 
  <div class="container"> 
    <div class="row"> 
      <div class="intro col-sm">
      Hello and welcome to swim database. Please see below for information on various open water swimming locations. You can filter the below swims by facilities (cafe or toilets)
      or "distance suitable" which denotes that the location is suitable for long-distance or triathlon training, when you want more than just a cool refreshing dip. 
      Research on open water swimming is still in its infancy, but early studies indicate promising results for mental wellness. Please help us build the database by adding to it 
      <a href="{% url 'add' %}">here</a>.<br>
   <br>
        {% if form is not None %}
        <strong>Swim filter:</strong><form method="post" novalidate>
           {% csrf_token %}
       
           {{ form }}
          
           <button class="pbt btn btn-outline-info" type="submit">Submit</button>
           {% endif %}
       
    </div>
    </div><br>
    <div class="card-deck">
   {% for i in page_obj.object_list %}  

      {% if i.2 %}
      
   
              
          

                
                  <div class="card" style="max-width: 24.5rem;">
                  
                      <img class="card-img-top" src="../../{{ i.4.image }}" alt="Card image cap">
                
                    <div class="card-body">
                      <h5 class="card-title"> <a href="{% url 'get' i.0 %}">{{i.1}}</a></h5>
                      <p class="card-text">{{i.3}}.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>

         {% endif %}
      {% endfor %}
    </div>
     <br>

      <ul class="pagination justify-content-center">
         {% if page_obj.has_previous %}
         <li class="page-item">
             <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                 Previous
             </a>
         </li>
         {% endif %}
         {% if page_obj.paginator.num_pages > 1 %}
         {% for n in page_obj.paginator.page_range %}
         {% if page_obj.number == n %}
         <li class="page-item active">
             <a class="page-link" href="?page={{ n }}">{{ n }}</a>
         </li>
         {% endif %}
         {% endfor %}
         {% endif %}
         {% if page_obj.has_next %}
         <li class="page-item">
             <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                 Next
             </a>
         </li>
         {% endif %}
     </ul></div>
{% endblock %}