{% extends "base_generic.html" %}

{% block content %}
  <h1>swim database</h1>
  <p>Welcome to swimSpot a website developed by <em>Emma</em>!</p>
  <div class="container">

   {% for i in page_obj.object_list %}  
   
      {% if i.2 %}
      
   
         <a href="{% url 'get' i.0 %}" class="btn btn-primary">{{ i.1 }} </a> <br> 

         {% endif %}
      {% endfor %}
      {% if form is not None %}
      <form method="post" novalidate>
         {% csrf_token %}
     
         {{ form }}
        
         <button type="submit">Submit</button>
         {% endif %}
      </div>
      <ul class="pagination justify-content-center">
         {% if page_obj.has_previous %}
         <li class="page-item">
             <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                 Previous
             </a>
         </li>
         {% endif %}
         {% if page_obj.paginator.num_pages > 1 %}
         {% for n in page_obj.paginator.page_range %}
         {% if page_obj.number == n %}
         <li class="page-item active">
             <a class="page-link" href="?page={{ n }}">{{ n }}</a>
         </li>
         {% endif %}
         {% endfor %}
         {% endif %}
         {% if page_obj.has_next %}
         <li class="page-item">
             <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                 Next
             </a>
         </li>
         {% endif %}
     </ul>
{% endblock %}