{% extends "base_generic.html" %}  
{% block content %} 
   <style> 
       #map { 
           height: 500px; 
           width: 100%; 
       } 
 
       .mapboxgl-marker { 
           cursor: pointer; 
       } 
 
       .locator-popup { 
           font-size: 14px; 
       } 
   </style> 
   <h1>Swim Locations</h1> 
   <h5>Click a location to see swim details</h5> 
   <div id='map' class='map'></div> 
     
   <!-- load TomTom Maps Web SDK from CDN --> 
   <link rel='stylesheet' type='text/css' href='https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.13.0/maps/maps.css'/> 
   <script src='https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.13.0/maps/maps-web.min.js'></script> 
     
   <script> 
       // create the map 
        tt.setProductInfo('TomTom Maps Django Demo', '1.0'); 
       let map = tt.map({ 
           key: 'ImaIRcX2InHyYVgOi3BVJeQaBM1GxPAb', 
           container: 'map' 
       }); 
 
       // add store markers 
       let bounds = [] 
       let storeLocations = JSON.parse("{{ locations|escapejs }}"); 
 
       for (let storeLocation of storeLocations) { 
           let coordinates = [storeLocation.longitude, storeLocation.latitude]; 
            bounds.push(coordinates); 
            const id = storeLocation.swimspot_id
            const name = storeLocation.name
           // create popup to display store information when the marker is clicked 
           let popup = new tt.Popup().setHTML(` 
               <div class="locator-popup"> 
                <a href="{% url 'get' ${id} %}" class="btn btn-primary">{{ name }} </a> <br> 
                <h6>Address</h6> 
                <p>${storeLocation.address}</p> 
               </div> 
           `); 
 
           let marker = new tt.Marker() 
               .setLngLat(coordinates) 
               .setPopup(popup) 
               .addTo(map); 
       } 
 
       // zoom the map to fit all markers 
        map.on('load', () => { 
            map.fitBounds(bounds, { 
               padding: { top: 50, bottom:50, left: 50, right: 50 } 
           }); 
       }) 
   </script> 
{% endblock %}