


{% extends "base_generic.html" %}

{% block content %}

  <div class="container">

    <h3>{{prof.user.username}}'s profile</h3>
    <img src="../../{{prof.image}}" alt="" height="45%" width="55%" />

    <br><strong>
    notable events completed: </strong><br>
    {{ prof.events_completed }}    
    <br><strong>
    i am currently training for: </strong><br>
     {{prof.training_for}}   
    <br><strong>
    other relevent (or irrelevent) blurb: </strong><br>
    {{prof.blurb}}
      </div>
      <br><br>
      Edit profile
{% endblock %}  