


{% extends "base_generic.html" %}

{% block content %}

  <div class="container">
    <div class="row pb-5"> <div class="col-md">




    <div class="card text-white bg-info mb-3" style="max-width: 40rem;">
      <div class="card-header"> {{prof.0.user.username}}'s profile
      </div>
      <div class="card-body">
        <h5 class="card-title">Info card title</h5>
        <p class="card-text"> 
          <img id="ppic" src="../../{{ photo.image }}"><br>
           notable events completed: </strong><br>
          {{ prof.0.events_completed }}    
          <br><strong>
          i am currently training for: </strong><br>
           {{prof.0.training_for}}   
          <br><strong>
          other relevent (or irrelevent) blurb: </strong><br>
          {{prof.0.blurb}}</p>
      </div>




{% endblock %}  