{% extends "base_generic.html" %}

{% block content %}
 
 

<div class="searchform">
  Search for a swim: <br>
  <form action="{% url 'search' %}" method="POST">
    {% csrf_token %} 
    <input type="text" name="name">
    <input class="btn btn-outline-info" type="submit" name="submit" value="Search">
</form>
</div>
<br><br>

{% if not results %}
No results found
{% endif %}

{% for i in results %}

<a href="{% url 'get' i.id %}" class="btn btn-outline-info">{{ i.name }} </a> <br> 

{% endfor %}


      </div>
{% endblock %}