


* {
    box-sizing: border-box;
  }

body {
    background:white;
  }
  
 

  button, .clearablefileinput {
    background-color: #e1ecf4 !important;
    border-radius: 3px;
    border: 1px solid #7aa7c7;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #39739d;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
  }
  
  button:hover,
  button:focus {
    background-color: #b3d3ea;
    color: #2c5777;
  }
  
  button:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
  }
  
  button:active {
    background-color: #a0c7e4;
    box-shadow: none;
    color: #2c5777;
  }
.bullets {
  margin-left: 10px;
}  
.desc {
  background: white;
  border: blanchedalmond 1px solid; 
  padding: 10px;
  border-radius: 8px;
}
.uploadform {
  margin-right: 260px !important;
}
.sidebar-nav {
    padding: 0;
    list-style: none;
    display: block;
    font-size: 1em;
    padding-bottom: 15px;
    margin-top: -90px;
 
  
}


.carousel-inner img {
  width: 100%;
  height: 100%;
}


.d-block  {
  max-height: 500px !important;

}


.swimloc {
  margin-left: 50px;
}


.svg{
    background: linear-gradient(#FBFAD8, transparent 93%),
}


head {
    position: relative;
}
h1 {
    padding-left: 20px;
    margin-top:25px;
    position: absolute;
    top: 2px;
    left: 2px;
}

.sidebar-nav li {
	text-align: center;
	background: #fff;
	margin-top: 6px;
	margin-bottom: 6px;
	border: solid black 2px;
	list-style: none;
  margin-left: 20px;

	
}
img {
    padding: 5px;
}
.col-sm-4 {
    margin-top: -25px;
}
.sidebar-nav a {
	font-size: 1.3em;
	color: #3acec2;
  padding-bottom: 5px;
  list-style: none;
  

}

a {
  color: #3acec2;
}

.sidebar-nav a:hover {
	text-transform: uppercase;
  

}
.comment {
    border: blanchedalmond 2px solid;
    padding: 7px;
    border-radius: 8px;
    background-color: white;
    
}

#swimspot {
    background-color: seashell;
    padding: 19px;   
    border-radius: 8px;
}

.map {
  margin-right:200px;
}

  
.intro {
  background-color: seashell;
  padding: 25px;
  border-radius: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 20px;
  margin-right: 45px;
  
}

.bio {
  background-color: seashell;
  padding: 45px;
  margin: 30px;
  border-radius: 2px;
}

  #allpix {
    position: absolute;
    bottom: 25px;
    right: 85px;
  }

  #ppic {
    border: 2px solid aquamarine;
    height: 250px;
  }
  
.savo {
  margin-left: 10px;
}

.searchform {
  padding: 50px;
  background: seashell;
  margin-right: 300px;
  border-radius: 8px;
}

.carousel {
  margin-top: 10px;
}
  
  .cf:before, .cf:after {
    display: table;
    content: "";
    line-height: 0;
  }
  
  .cf:after {
    clear: both;
  }

  .pbt {
   margin-top: 10px;

  }

  #map {
    margin-top: 20px;
  
    border:2px solid blanchedalmond;
    border-radius: 8px;
  }

  .comments {
    background-color: seashell;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 8px; 
    margin-bottom: 20px;
  }

  .smallscreen {
    display: none;
  }

  @media screen and (max-width: 1670px) {
    col-sm {
      max-width: 400px !important;
    }
    .map {
      margin-left: -16px;
    }
  }

  
  @media screen and (max-width: 600px) {
    .lgscreen {
      display: none;
  }
  body {
    margin-left: 20px;
    margin-right: 20px;
  }
  .smallscreen {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  .navbar {
    background-color: #0099ff!important;
    font-size: large !important;
    opacity: 0.98;
    z-index: 10;
    position: relative !important;
  }

.map {
  height: 240px;

}

.whale {
  z-index: 15;
  position: absolute;
  left: 250px;
  float: right;
}

.wordy {
  display: none;
}

.card {
  margin-left: 24px;
}

}
  